body {
    font-family: Lato, sans-serif;
    color: white;
    font-size: 15px;
    background: black;
}

a {
    text-decoration: none
}

.row-heading {
    font-weight: 500;
    font-size: .7em;
    text-transform: uppercase
}

.timetable .time-label {
    font-size: .8em;
    font-weight: 500
}

.timetable .time-entry.vip-only {
    background-color: #2980B9;
    border: 1px solid #3498DB
}

.timetable .time-entry.vip-only:hover {
    background-color: #3498DB
}

.timetable .time-entry.sleep {
    background-color: #F39C12;
    border: 1px solid #F1C40F
}

.timetable .time-entry.sleep:hover {
    background-color: #F1C40F
}

.gren{
    color: #16A085;
}

.blu{
    color: #2980B9;
}

.red{
    color: #f62a66;
}

a:visited{
    color: #f62a66;
}

.bottomtext,.gren,.blu,.red{
    display:flex;
    justify-content:center;
    align-items:center;
}