@import url(//fonts.googleapis.com/css?family=Lato:300:400);



body {
    margin: 0;
    background: black;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgb(66, 66, 66) 0%, rgba(0, 0, 0) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

body {
    color: #fff;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.content-footer {
    text-align: center;
}

.masthead {
    padding: 11em 0;
    background-image: url('https://images.unsplash.com/photo-1512716679859-da19b4af9c38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-top: solid 2em #B69760;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic,"Georgia, serif;
    font-size: 4em;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: .08em;
}


.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: light;
    font-size: 1.5em;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.introduction-section>p,
.location-section>p,
.content-footer>p,
.questions-section>p {
    font-weight: 300;
    letter-spacing: 0.05em;
}


.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.questions-section>h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.1 em;
    font-weight: bold;
    color: #fff;
}


.fa-stack fa-lg {
    display: inline-block;
}

.footer-container>p {
    color: white;
}

.content-footer {
    padding: 2em 0;
    margin-top: 3em;
    background: #242323;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:link {
    color: #B69760;
}

a:visited {
    color: #B69760;
}

a:hover {
    color: #B69760;
}

@media only screen and (max-width: 571px) {
    .masthead {
        padding: 5em 0;
    }

    .masthead-intro {
        font-size: 3em;
    }

    .masthead-heading {
        font-size: .5em;
    }

    .container {
        padding: 0 3em;
    }

    .footer-container {
        padding: 0 3em;
    }
}